/* Themeone -- Green */
.r4HdrCtr {
    background-color: hsl(var(--r4-thm-green), 48%, 55%);
}

.r4MaiMnu li a {
    background-color: hsl(var(--r4-thm-green), 48%, 50%);
}

.r4MaiMnu li a:hover {
    background-color: hsl(var(--r4-thm-green), 48%, 43%);
}

.r4Lnk, .r4Lnk:hover {
    color: hsl(var(--r4-thm-green), 48%, 43%);
}

.r4BtnSkn {
    background-color: hsl(var(--r4-thm-green), 48%, 55%);
    color: var(--rc-white);
}

.r4BtnSkn:hover {
    background-color: hsl(var(--r4-thm-green), 48%, 43%);
    color: var(--rc-white);
}