/* =============================== */
/* form controls starts */
/* =============================== */
.r4FrmCtr {
    margin-bottom: 1rem;
    border-radius: 3px;
    border: 1px solid var(--rc-grey-mid);
    -webkit-box-shadow: 0px 4px 6px -3px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 4px 6px -3px rgba(0,0,0,0.2);
    box-shadow: 0px 4px 6px -3px rgba(0,0,0,0.2);
}

.r4FrmHd {
    background-color: var(--rc-grey-mid);
    padding: 3px 15px;
    font-weight: bold;
    border-radius: 3px 3px 0 0;
}

.r4FrmHd-bl {
    color: var(--rc-white);
    background-color: var(--rc-swatch-bl);
}

.r4FrmHd-pk {
    color: var(--rc-white);
    background-color: var(--rc-swatch-pk);
}

.r4Frm {    
    padding: 15px;
}

.r4Frm input[type="text"],
.r4Frm input[type="password"],
.r4Frm input[type="number"],
.r4Frm input[type="date"],
.r4Frm textarea {
    width: 100%;
    box-sizing: border-box;
}

.r4Frm-Crl:focus,
.r4Frm-Crl textarea:focus {
    border-color: #ec774b;
    outline: none;
}

.r4Lnk,
.r4Lnk:hover {
    color: #ec774b;
    text-transform: capitalize;
    text-decoration: underline;
}


@media (min-width: 768px) { 
    .r4Frm input[type="text"],
    .r4Frm input[type="password"],
    .r4Frm input[type="number"],
    .r4Frm input[type="date"],
    .r4Frm textarea {
        min-width: 12rem;
    }
}

@media (min-width: 992px) { 
    .r4Frm input[type="text"],
    .r4Frm input[type="password"],
    .r4Frm input[type="number"],
    .r4Frm input[type="date"],
    .r4Frm textarea {
        min-width: 14rem;
    }
}

.r4Frm-Grp {
    margin-bottom: 15px;
}

.r4Frm-Crl {
    background-color: var(--rc-grey-lt);
    padding: 3px 15px;
}

.r4Frm-Crl.blc {
    width: 100%;
    display: block;
    box-sizing: border-box;
}

.r4Frm-Grp label {
    display: block;
    margin-bottom: 0;
    color: var(--rc-para-grey);
}

input,
textarea {
    border: 1px solid var(--rc-grey-mid);
    border-radius: 3px;
}

input.err {
    border: 1px solid var(--rc-swatch-or);
    opacity: 0.75;
}

.mdy {
    font-weight: bold;
    margin-left: 5px;
    color: var(--rc-swatch-or-dr2);
}

.err-input, .r4ErrInp {
    font-size: 12px;
    color: var(--rc-swatch-or-dr2);
    margin-left: 5px;
}

.err-input::before,
.r4ErrInp::before {
    content: "- ";
}
/* =============================== */
/* form controls ends */
/* =============================== */
