/* =============================== */
/* form controls starts */
/* =============================== */
.rc-form-container {
    margin-bottom: 1rem;
    border-radius: 3px;
    border: 1px solid var(--rc-grey-mid);
    -webkit-box-shadow: 0px 4px 6px -3px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 4px 6px -3px rgba(0,0,0,0.2);
    box-shadow: 0px 4px 6px -3px rgba(0,0,0,0.2);
}

.rc-form-head {
    background-color: var(--rc-grey-mid);
    padding: 3px 15px;
    font-weight: bold;
    border-radius: 3px 3px 0 0;
}

.rc-form-head-bl {
    color: var(--rc-white);
    background-color: var(--rc-swatch-bl);
}

.rc-form-head-pk {
    color: var(--rc-white);
    background-color: var(--rc-swatch-pk);
}

.rc-form {    
    padding: 15px;
}

.rc-form input[type="text"],
.rc-form input[type="password"],
.rc-form input[type="number"],
.rc-form input[type="date"],
.rc-form textarea {
    width: 100%;
}

@media (min-width: 768px) { 
    .rc-form input[type="text"],
    .rc-form input[type="password"],
    .rc-form input[type="number"],
    .rc-form input[type="date"],
    .rc-form textarea {
        min-width: 12rem;
    }
}

@media (min-width: 992px) { 
    .rc-form input[type="text"],
    .rc-form input[type="password"],
    .rc-form input[type="number"],
    .rc-form input[type="date"],
    .rc-form textarea {
        min-width: 14rem;
    }
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    background-color: var(--rc-grey-lt);
    padding: 3px 15px;
}

.form-group label {
    display: block;
    margin-bottom: 0;
    color: var(--rc-para-grey);
}

input,
textarea {
    border: 1px solid var(--rc-grey-mid);
    border-radius: 3px;
}

input.error {
    border: 1px solid var(--rc-swatch-or);
    opacity: 0.75;
}

.mandatory {
    font-weight: bold;
    margin-left: 5px;
    color: var(--rc-swatch-or-dr2);
}

.error-input {
    font-size: 12px;
    color: var(--rc-swatch-or-dr2);
    margin-left: 5px;
}

.error-input::before {
    content: "- ";
}
/* =============================== */
/* form controls ends */
/* =============================== */
