/* =============================== */
/* header-container starts */
/* =============================== */
.r4HdrCtr {
    position: relative;
    z-index: 1;
    background-color: var(--rc-swatch-or);
    -webkit-box-shadow: 0px 4px 6px 0 rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 4px 6px 0 rgba(0,0,0,0.3);
    box-shadow: 0px 4px 6px 0 rgba(0,0,0,0.3);
}
.r4HdrCtr .r4Col-1-1 {
    padding-right: 0;
}
.r4HdrBox {
    display: flex;
    position: relative;
    justify-content: space-between;
}
.r4HamWrp {
    cursor: pointer;
    /* position: absolute; */
    /* top: -11px; */
    height: 32px;
}
.r4HamWrp svg {
    position: relative;
    top: -8px;
}
.r4LgoWrp {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 15px;
    color: var(--rc-white);
    text-transform: capitalize;
    font-size: 20px;
    /* font-weight: bold; */
}
.r4LgoWrp span {
    opacity: 0.5;
    font-weight: bold;
}
.r4MnuWrp {
    display: none;
}

.r4MaiMnu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}
.r4MaiMnu li a {
    background-color: var(--rc-swatch-or-dr);
    color: var(--rc-white);
    text-transform: capitalize;
    display: block;
    padding: 15px 15px;
    text-decoration: none;
}
.r4MaiMnu li a:hover {
    background-color: var(--rc-swatch-or-dr2);
}
.r4MaiMnu li select {
    border: 1px solid var(--rc-swatch-or-dr);
    margin: 10px;
    padding: 5px;
    background-color: transparent;
    outline: none;
}
.r4MaiMnu li select option {
    padding: 5px;
}

@media (min-width: 768px) { 
    .r4HamWrp {
        display: none;
    }
    .r4LgoWrp {
        font-size: 24px;
        margin-left: 0;
    }
    .r4MnuWrp {
        display: flex;
    }
}

.r4BelNtf {
    position: relative;
    display: flex;
    align-items: center;
}

.r4BelNtf button {
    background-color: transparent;
    color: var(--rc-white);
    border: 0;    
    outline: none;
}

.r4BelNtf .fa {
    font-size: 20px;
}

.r4BelNtf .ntf {
    background-color: var(--rc-swatch-yl);
    color: var(--rc-black);
    border: 1px solid var(--rc-black);
    font-size: 11px;
    position: absolute;
    width: 15px;
    height: 15px;
    text-align: center;
    right: 0;
    top: 8px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* =============================== */
/* header-container starts */
/* =============================== */
