/* =============================== */
/* login starts */
/* =============================== */
.r4MaiBox {
    display: flex;
    flex-direction: column;
}

.r4LogLft {
    padding: 1rem;
}
.r4LogLft .r4Tle {
    font-size: 26px;
    color: var(--rc-black-lt);
    margin-bottom: 1rem;
}
.r4LogLft .r4SubTle {
    color:var(--rc-grey-dr2);
}
.r4LogLft .r4LogFrm {
    padding: 3rem 0 1rem;
}
.r4LogFrm label {
    text-transform: capitalize;
}

.r4FooBox ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
}
.r4FooBox .spt a {
    font-size: 12px;
    text-transform: capitalize;
    color: var(--rc-grey-dr2);
    text-decoration: none;
}
.r4FooBox .cpy,
.r4FooBox .cpy a {
    font-size: 12px;
    margin-top: 20px;
    color: var(--rc-grey-dr);
}

@media (min-width: 768px) {
    .r4MaiBox {
        flex-direction: row;        
    }

    .r4LogLft {
        padding: 2rem;
        width: 40%;
    }
    .r4LogLft .r4Tle {
        font-size: 32px;
    }   

    .r4LogFrm label {
        font-weight: bold;
    }

    .r4LogFrm input {
        padding: 10px 15px;
    }

    .r4LogRgt {
        display: block;
        width: 60%;
        background: var(--rc-grey-dr) url("../images/login/laptopbg.jpg") no-repeat fixed center;
        background-size: cover;
        height: 92vh;
    }
}

/* =============================== */
/* login ends */
/* =============================== */